html, body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background: #a0a5bf;
}
.wrapper {
    min-height: 100%;
    position:relative;
}
header {
    min-height: 60px;
    border-bottom: 8px #4F5B93 groove;
    background: #8892BF;
    box-shadow: 0 .25em .25em rgba(0,0,0,.1);
}
header h1 {
    margin: 10px 0 0 15px;
    float: left;
    display: inline-block;
}
#mainmenu {
    margin: 20px 20px 0 0;
    float: right;
    display: inline-block;
}
.container {
    padding: 10px;
    min-height: 420px;
}
footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    text-align: right;
    border-top: 4px #4F5B93 groove;
    background: #8892BF;
}
footer ul {
    float: left;
}
footer ul li {
    display: inline-block;
    margin: 0 auto;
}
label {
    font-size: 18px;
    display: inline-block;
    min-width: 150px;
}
input {
    font-size: 18px;
}